
{% load static %}

{% include "sidenav.html" %}
<main>
    <!-- nav start -->
  {% include "navbar.html" %}

  <style>
    body{
      overflow-x : hidden;

    }

    #addbtn:hover{
      background-color : gray;
      color : white;
    }


    #suggestions-list {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    
    .suggestion-item {
      padding: 10px;
      cursor: pointer;
    }
    
    .suggestion-item:hover {
      background-color: lightgray;
    }

    input{
      box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;


    }
       #search-input{
      box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    }

   


  </style>

  <br><br><br><br>

  <!-- <img src="{% static 'logo/nobglogo.png' %}" width="500px" style="position:absolute; opacity:10%; left: 25%; top: 10%;"> -->
  

<h1 style="text-align:center">Generate Lab Report</h1>



    <!-- content end-->
  <form method="post">
    {% csrf_token %}
    <div class="row">

      <div class="col-12 col-sm-12 col-md-12 col-lg-3">

      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6" style="display:flex; border:3px solid green; border-radius:25px; margin:0px; ">
        <input type="text" name="search" class="form-control" placeholder="Enter Lab ID" style="background-color:white; border:none;" required>
        <input type="submit" value="🔍" style="background-color:white; border:none;">
      </div>

    </div>

    <br>
  </form>



  {% if plab %}
  <section>
    <div class="row" style="margin : 10px ; padding :10px; background-color : rgba(0, 104, 169, 0.64); color:white; border:none; border-radius:8px;box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <b>Lab ID : </b>{{plab.id}}<br>
        <b>Name : </b>{{plab.patient.p_name}}<br>
        <b>Age|Sex : </b>{{plab.patient.p_age}} | {{plab.patient.sex}}<br>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <b>Admit Date : </b>{{plab.patient.admission_date.date}}<br>
        <b>Referred By : </b>Dr. {{plab.patient.doctor.first_name}} {{plab.patient.doctor.last_name}}<br>
      </div>
    </div>
  </section>
  {% else %}
  <section>
    <div style="text-align:center; margin-top : 20px;">
      <b class="" >{{message}}</b>
    </div>
  </section>

  {% endif %}
  <br>

  <section>
    {% if ptests %}
    <table style="text-align:center; margin-left:130px;">
      <tr style="padding: 10px;">
        <th>S/N</th>
        <th style="width: 200px;">LAB NAME</th>
        <th>VALUE</th>
        <th style="width: 140px;">UNITS</th>
        <th >REFERENCE RANGE</th>
      </tr>

      {% for test in ptests %}
      <tr style="padding: 10px;">
        <td>{{forloop.counter}}.</td>
        <td>{{test.lab_name}}</td>
        <td><input type="text" id="t{{forloop.counter}}" placeholder="{{test.lab_name}} value" class="form-control m-2"></td>
        <td>{{test.units}}</td>
        <td>{{test.ref_range}}</td>
      </tr>
      {% endfor %}
      
    </table>
    {% endif %}
      
  </section>
<br><br>
<div style="text-align: center;">
  <button  id="generatebill" class="btn btn-info">Generate Report</button>
</div>


    <br><br>

    {% include "footer.html" %}
  </main>
  


<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>

<script>

    

    $("#generatebill").click(function(){


    var al = Number("{{alen}}")
    var ar = []
    for(i=1; i<=al; i++ ){

        ind = "#t"+i.toString()
        vlu = $(ind).val()
        console.log(vlu)
        ar.push(Number(vlu))
    }
    console.log(ar);

    const labsData = {
      "labvalue" : ar ,
    };

    console.log(labsData)

  if(ar[0] != 0 && ar.length!=0){

    var result = window.confirm("Are you sure the data you entered is correct!!");
      if(result === true){

          $.ajax({
            url: '/labreport/'+'{{plab.id}}',
            type: 'POST',
            data: {
              labs: JSON.stringify(labsData),
            },
            dataType: 'json',
            success: function(response) {
              console.log('Patient LAB updated successfully');
              console.log(response);
              window.location.href = "/testreport/"+"{{plab.id}}";
            },
            error: function(error) {
              console.error('Error updating Patient LAB');
              console.log(error.responseJSON);
            }
          });


      }
     
  }
  else{
    alert("Please enter the  lab values")
  }
   
});



</script>

